name: test

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    name: Test with PyTest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
    - name: Test with pytest
      run: |
        pip install pytest pytest-cov
        pytest -v
